header {
    background-color: var(--main-bg-color);
}
.nav,
.navbar {
    background-color: #fff;
    vertical-align: top;
}
.navbar-brand > img {
    width: 100%;
    max-width: 50px;
}
.minicarrito {
    min-width: 200px;
}
.hero {

    margin: auto;
    padding-top: 72px;
}
main {
    background-color: #fff;
    color: var(--second-font-color);
}
.home {
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--main-font-color);
}